<!--bottom nav-->
<!--현재 페이지 button에 active 추가-->
<div id="bottomNav">
    <ul>
        <li><button type="button" class="b_nav01 active">친구찾기</button></li>
        <li><button type="button" class="b_nav02">채팅</button></li>
        <li class="ai_btn"><button type="button"><img src="../assets/images/layout/b_fix_center_icon.png" alt="AI"></button></li>
        <li><button type="button" class="b_nav03">산책</button></li>
        <li><button type="button" class="b_nav04">커뮤니티</button></li>
    </ul>
</div>
<!--//bottom nav-->