<!--header-->
<header id="header">
    <div class="header_wrap">
        <a href=""><img src="../assets/images/layout/logo.svg" alt="골든 펫 로고"></a>
        <ul class="header_util">
            <li><button type="button"><img src="../assets/images/layout/header_icon01.svg" alt="G아이콘"></button></li>
            <li><button type="button"><img src="../assets/images/layout/header_icon02.svg" alt="알림"></button></li>
            <li><button type="button"><img src="../assets/images/layout/header_icon03.svg" alt="프로필"></button></li>
        </ul>
    </div>
</header>
<!--//header-->