{%- extends "_templates/_layout.njk" -%}
{% block content %}
<div id="aiMake">
	<div class="ai_txt_wrap">
		<strong>이미지 생성이 완료되었어요!</strong>
	</div>
	<div class="make_complete">
		<div class="img_wrap">
			<img src="../assets/images/ai_make/complete_img.jpg" alt="">
		</div>
		<p>산책을 너무나 좋아하는 순둥순동한 아기 골든리트리버가 웃으면서 나를 바라보는 모습</p>
		<div class="btn_wrap">
			<button type="button" class="remake_btn"><img src="../assets/images/common/remake_icon.svg" alt="">다시 만들기</button>
			<button type="button">프로필 적용하기</button>
		</div>
	</div>
</div>
{%- endblock %}
