{%- extends "_templates/_layout.njk" -%}
{% block content %}
<div id="aiMake">
	<div class="ai_txt_wrap">
		<strong>나의 AI 반려동물을 만나보세요</strong>
		<p>
			평소에 상상했던 반려동물의 다양한 모습을 <br>
			프로필로 만들어 보세요.
			<br><br>
			반려동물이 없어도 걱정마세요.<br>
			당신이 원하는 AI 펫을 만들 수 있습니다.
		</p>
	</div>
	<div class="make_intro">
		<div class="img_wrap">
			<img src="../assets/images/ai_make/intro_img.jpg" alt="">
		</div>
		<div class="btn_wrap">
			<button type="button">간단하게 <strong>만들기</strong></button>
			<button type="button">원하는 대로 <strong>만들기</strong></button>
		</div>
	</div>
</div>
{%- endblock %}
