{%- extends "_templates/_layout.njk" -%}
{% block content %}
<div id="walkContainer">
    <div class="talk_wrap">
        <p>
            골드펫과 함께 <br>
            즐거운 산책을 즐겨보세요.
        </p>
        <button type="button"><img src="../assets/images/common/pin_icon.svg" alt="지도 마커">서울 강남구</button>
    </div>

    <!--상단 카드-->
    <div class="walk_tit">
        <div class="walk_card">
            <p>오늘</p>
            <div class="card_detail">
                <dl>
                    <dt>산책 거리(km)</dt>
                    <dd>1.25</dd>
                </dl>
                <dl>
                    <dt>소요 칼로리(Kcal)</dt>
                    <dd>1,250</dd>
                </dl>
            </div>
        </div>
        <button type="button" class="walk_go_link">지금 바로 산책을 시작해볼까요?</button>
    </div>

    <div class="record_wrap">
        <ul class="record_tab">
            <li><button type="button" class="active">우리의 산책 기록</button></li>
            <li><button type="button">베스트 랭킹</button></li>
        </ul>

        <!--리스트-->
        <ul class="record_list">
            <li>
                <p class="date_txt">2025.10.28</p>
                <div class="detail_txt">
                    <div class="list_txt">
                        <p>1.0 Km</p>
                        <p>총 30분</p>
                        <p>10G 적립</p>
                    </div>
                    <div class="btn_wrap">
                        <button type="button"><img src="../assets/images/walk/map_icon.svg" alt=""></button>
                        <button type="button"><img src="../assets/images/walk/upload_icon.svg" alt=""></button>
                    </div>
                </div>
            </li>
            <li>
                <p class="date_txt">2025.10.28</p>
                <div class="detail_txt">
                    <div class="list_txt">
                        <p>1.0 Km</p>
                        <p>총 30분</p>
                        <p>10G 적립</p>
                    </div>
                    <div class="btn_wrap">
                        <button type="button"><img src="../assets/images/walk/map_icon.svg" alt=""></button>
                        <button type="button"><img src="../assets/images/walk/upload_icon.svg" alt=""></button>
                    </div>
                </div>
            </li>
            <li>
                <p class="date_txt">2025.10.28</p>
                <div class="detail_txt">
                    <div class="list_txt">
                        <p>1.0 Km</p>
                        <p>총 30분</p>
                        <p>10G 적립</p>
                    </div>
                    <div class="btn_wrap">
                        <button type="button"><img src="../assets/images/walk/map_icon.svg" alt=""></button>
                        <button type="button"><img src="../assets/images/walk/upload_icon.svg" alt=""></button>
                    </div>
                </div>
            </li>
            <li>
                <p class="date_txt">2025.10.28</p>
                <div class="detail_txt">
                    <div class="list_txt">
                        <p>1.0 Km</p>
                        <p>총 30분</p>
                        <p>10G 적립</p>
                    </div>
                    <div class="btn_wrap">
                        <button type="button"><img src="../assets/images/walk/map_icon.svg" alt=""></button>
                        <button type="button"><img src="../assets/images/walk/upload_icon.svg" alt=""></button>
                    </div>
                </div>
            </li>
            <li>
                <p class="date_txt">2025.10.28</p>
                <div class="detail_txt">
                    <div class="list_txt">
                        <p>1.0 Km</p>
                        <p>총 30분</p>
                        <p>10G 적립</p>
                    </div>
                    <div class="btn_wrap">
                        <button type="button"><img src="../assets/images/walk/map_icon.svg" alt=""></button>
                        <button type="button"><img src="../assets/images/walk/upload_icon.svg" alt=""></button>
                    </div>
                </div>
            </li>
            <li>
                <p class="date_txt">2025.10.28</p>
                <div class="detail_txt">
                    <div class="list_txt">
                        <p>1.0 Km</p>
                        <p>총 30분</p>
                        <p>10G 적립</p>
                    </div>
                    <div class="btn_wrap">
                        <button type="button"><img src="../assets/images/walk/map_icon.svg" alt=""></button>
                        <button type="button"><img src="../assets/images/walk/upload_icon.svg" alt=""></button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{%- endblock %}
