openapi: 3.0.3
info:
  title: GoldPet API
  version: 1.0.0
  description: >
    GoldPet 서비스용 백엔드 API v1 Draft.
    인증은 JWT Bearer 토큰을 사용한다.

servers:
  - url: https://api.goldpet.com
    description: Production
  - url: https://staging-api.goldpet.com
    description: Staging
  - url: http://localhost:8080
    description: Local Dev

tags:
  - name: Auth
  - name: Users
  - name: Pets
  - name: Walks
  - name: Walk Albums
  - name: Files
  - name: Match
  - name: Chat
  - name: Community
  - name: AI
  - name: Gold
  - name: Emoticon
  - name: Notifications

paths:
  /api/v1/auth/oauth/login:
    post:
      tags: [Auth]
      summary: OAuth 로그인/회원가입 통합
      description: SNS Provider의 accessToken으로 로그인 또는 신규 회원 생성
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider, accessToken]
              properties:
                provider:
                  type: string
                  example: kakao
                accessToken:
                  type: string
      responses:
        '200':
          description: 로그인 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/users/me:
    get:
      tags: [Users]
      summary: 내 프로필 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    put:
      tags: [Users]
      summary: 내 프로필 수정
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                mainLocation:
                  type: string
                gender:
                  type: string
                birthYear:
                  type: integer
      responses:
        '200':
          description: 수정된 사용자 정보
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /api/v1/users/me/profile-image:
    put:
      tags: [Users]
      summary: 내 프로필 이미지 설정/변경
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fileId]
              properties:
                fileId:
                  type: integer
                  format: int64
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'

  /api/v1/pets:
    get:
      tags: [Pets]
      summary: 내 펫 목록 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pet'
    post:
      tags: [Pets]
      summary: 펫 등록
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePetRequest'
      responses:
        '201':
          description: 생성됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'

  /api/v1/pets/{petId}:
    parameters:
      - name: petId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags: [Pets]
      summary: 특정 펫 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'
    put:
      tags: [Pets]
      summary: 펫 정보 수정
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePetRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pet'
    delete:
      tags: [Pets]
      summary: 펫 삭제
      security:
        - bearerAuth: []
      responses:
        '204':
          description: 삭제됨

  /api/v1/walk-albums:
    get:
      tags: [Walk Albums]
      summary: 내 산책 앨범 목록 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WalkAlbum'
    post:
      tags: [Walk Albums]
      summary: 산책 앨범 생성
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalkAlbumRequest'
      responses:
        '201':
          description: 생성됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalkAlbum'

  /api/v1/walk-albums/{albumId}:
    parameters:
      - name: albumId
        in: path
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags: [Walk Albums]
      summary: 산책 앨범 상세 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalkAlbumDetail'
    put:
      tags: [Walk Albums]
      summary: 산책 앨범 수정
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWalkAlbumRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalkAlbum'
    delete:
      tags: [Walk Albums]
      summary: 산책 앨범 삭제
      security:
        - bearerAuth: []
      responses:
        '204':
          description: 삭제됨

  /api/v1/walks:
    get:
      tags: [Walks]
      summary: 내 산책 기록 목록 조회
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: from
          schema:
            type: string
            format: date
        - in: query
          name: to
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WalkRecord'
    post:
      tags: [Walks]
      summary: 산책 기록 생성
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalkRecordRequest'
      responses:
        '201':
          description: 생성됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalkRecord'

  /api/v1/walks/{walkId}:
    parameters:
      - in: path
        name: walkId
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags: [Walks]
      summary: 산책 기록 상세 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalkRecordDetail'
    put:
      tags: [Walks]
      summary: 산책 기록 수정
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWalkRecordRequest'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalkRecord'
    delete:
      tags: [Walks]
      summary: 산책 기록 삭제
      security:
        - bearerAuth: []
      responses:
        '204':
          description: 삭제됨

  /api/v1/walks/{walkId}/spots:
    post:
      tags: [Walks]
      summary: 산책 Spot 추가
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: walkId
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalkSpotRequest'
      responses:
        '201':
          description: 생성됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalkSpot'

  /api/v1/walks/public:
    get:
      tags: [Walks]
      summary: 공개된 산책 코스/기록 목록 조회
      parameters:
        - in: query
          name: location
          schema:
            type: string
        - in: query
          name: species
          schema:
            type: string
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WalkRecord'

  /api/v1/files/upload:
    post:
      tags: [Files]
      summary: 파일 업로드 (이미지/영상/문서 등)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                type:
                  type: string
                  enum: [IMAGE, VIDEO, DOCUMENT, AUDIO, OTHER]
      responses:
        '201':
          description: 업로드 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileAttachment'

  /api/v1/match/recommendations:
    get:
      tags: [Match]
      summary: 친구 추천 리스트
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: species
          schema:
            type: string
        - in: query
          name: distanceKm
          schema:
            type: number
        - in: query
          name: page
          schema:
            type: integer
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserMatchCandidate'

  /api/v1/match/like:
    post:
      tags: [Match]
      summary: 특정 사용자에게 좋아요 요청
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [targetUserId]
              properties:
                targetUserId:
                  type: integer
                  format: int64
      responses:
        '200':
          description: 성공 (매칭 성립 여부 포함)
          content:
            application/json:
              schema:
                type: object
                properties:
                  matchCreated:
                    type: boolean
                  matchId:
                    type: integer
                    format: int64
                    nullable: true

  /api/v1/match/list:
    get:
      tags: [Match]
      summary: 매칭/요청 목록 조회
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [REQUESTED, RECEIVED, ACCEPTED]
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Match'

  /api/v1/match/{matchId}/accept:
    post:
      tags: [Match]
      summary: 매칭 수락
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: matchId
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 매칭 수락, 채팅방 생성 정보 포함
          content:
            application/json:
              schema:
                type: object
                properties:
                  match:
                    $ref: '#/components/schemas/Match'
                  chatRoom:
                    $ref: '#/components/schemas/ChatRoom'

  /api/v1/chat/rooms:
    get:
      tags: [Chat]
      summary: 내 채팅방 목록 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatRoom'
    post:
      tags: [Chat]
      summary: 그룹 채팅방 생성
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, participantUserIds]
              properties:
                title:
                  type: string
                participantUserIds:
                  type: array
                  items:
                    type: integer
                    format: int64
      responses:
        '201':
          description: 생성됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatRoom'

  /api/v1/chat/rooms/{roomId}/messages:
    get:
      tags: [Chat]
      summary: 채팅 메시지 목록(페이지) 조회
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: roomId
          required: true
          schema:
            type: integer
            format: int64
        - in: query
          name: before
          schema:
            type: string
            format: date-time
        - in: query
          name: limit
          schema:
            type: integer
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatMessage'
    post:
      tags: [Chat]
      summary: 채팅 메시지 전송(HTTP 버전, WebSocket과 동일 payload)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: roomId
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendChatMessageRequest'
      responses:
        '201':
          description: 생성됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessage'

  /api/v1/community/posts:
    get:
      tags: [Community]
      summary: 커뮤니티 게시글 목록 조회
      parameters:
        - in: query
          name: category
          schema:
            type: string
        - in: query
          name: sort
          schema:
            type: string
            enum: [latest, popular]
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommunityPost'
    post:
      tags: [Community]
      summary: 커뮤니티 글 작성
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommunityPostRequest'
      responses:
        '201':
          description: 생성됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityPost'

  /api/v1/community/posts/{postId}:
    parameters:
      - in: path
        name: postId
        required: true
        schema:
          type: integer
          format: int64
    get:
      tags: [Community]
      summary: 게시글 상세 조회
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityPostDetail'

  /api/v1/community/posts/{postId}/comments:
    get:
      tags: [Community]
      summary: 댓글 목록 조회
      parameters:
        - in: path
          name: postId
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommunityComment'
    post:
      tags: [Community]
      summary: 댓글 작성
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: postId
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
      responses:
        '201':
          description: 생성됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityComment'

  /api/v1/community/posts/{postId}/like:
    post:
      tags: [Community]
      summary: 게시글 좋아요/취소
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: postId
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 성공

  /api/v1/community/posts/{postId}/report:
    post:
      tags: [Community]
      summary: 게시글 신고
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: postId
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: 접수 완료

  /api/v1/ai/pet-profile:
    post:
      tags: [AI]
      summary: AI 펫 프로필 생성 요청
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                petId:
                  type: integer
                  format: int64
                styleType:
                  type: string
                  enum: [PIXAR, ANIME, DISNEY]
                image:
                  type: string
                  format: binary
      responses:
        '202':
          description: 생성 요청 접수
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string

  /api/v1/ai/pet-profile/{requestId}:
    get:
      tags: [AI]
      summary: AI 펫 프로필 생성 결과 조회
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: requestId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 성공(완료 또는 진행중 상태 포함)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [PENDING, PROCESSING, COMPLETED, FAILED]
                  imageUrl:
                    type: string
                    nullable: true
                  videoUrl:
                    type: string
                    nullable: true

  /api/v1/gold/balance:
    get:
      tags: [Gold]
      summary: 내 Gold 잔액 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: integer

  /api/v1/gold/transactions:
    get:
      tags: [Gold]
      summary: Gold 거래 내역 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GoldTransaction'

  /api/v1/gold/use:
    post:
      tags: [Gold]
      summary: 기능 사용에 따른 Gold 차감
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, reason]
              properties:
                amount:
                  type: integer
                reason:
                  type: string
                  example: AI_PROFILE
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: integer

  /api/v1/emoticon/packs:
    get:
      tags: [Emoticon]
      summary: 이모티콘 패키지 목록 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EmoticonPack'

  /api/v1/emoticon/packs/{packId}:
    get:
      tags: [Emoticon]
      summary: 특정 이모티콘 패키지 상세
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: packId
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmoticonPackDetail'

  /api/v1/emoticon/packs/{packId}/purchase:
    post:
      tags: [Emoticon]
      summary: 이모티콘 패키지 구매(Gold 차감)
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: packId
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: integer

  /api/v1/notifications:
    get:
      tags: [Notifications]
      summary: 내 알림 목록 조회
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Notification'

  /api/v1/notifications/{notificationId}/read:
    post:
      tags: [Notifications]
      summary: 알림 읽음 처리
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: notificationId
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 성공

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          format: int64
        nickname:
          type: string
        email:
          type: string
          nullable: true
        mainLocation:
          type: string
        profileImageUrl:
          type: string
          nullable: true
        goldBalance:
          type: integer

    Pet:
      type: object
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        speciesId:
          type: integer
          format: int64
        breedId:
          type: integer
          format: int64
          nullable: true
        name:
          type: string
        gender:
          type: string
        birthDate:
          type: string
          format: date
          nullable: true
        mainPhotoUrl:
          type: string
          nullable: true

    CreatePetRequest:
      type: object
      required: [name, speciesId]
      properties:
        speciesId:
          type: integer
        breedId:
          type: integer
          nullable: true
        name:
          type: string
        gender:
          type: string
          nullable: true
        birthDate:
          type: string
          format: date
          nullable: true

    UpdatePetRequest:
      type: object
      properties:
        breedId:
          type: integer
          nullable: true
        name:
          type: string
        gender:
          type: string
        birthDate:
          type: string
          format: date
          nullable: true

    WalkAlbum:
      type: object
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        title:
          type: string
        description:
          type: string
          nullable: true
        coverPhotoUrl:
          type: string
          nullable: true
        visibility:
          type: string
          enum: [PUBLIC, FRIENDS, PRIVATE]

    WalkAlbumDetail:
      allOf:
        - $ref: '#/components/schemas/WalkAlbum'
        - type: object
          properties:
            walks:
              type: array
              items:
                $ref: '#/components/schemas/WalkRecord'

    CreateWalkAlbumRequest:
      type: object
      required: [title, visibility]
      properties:
        title:
          type: string
        description:
          type: string
          nullable: true
        coverPhotoFileId:
          type: integer
          format: int64
          nullable: true
        visibility:
          type: string
          enum: [PUBLIC, FRIENDS, PRIVATE]

    UpdateWalkAlbumRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        visibility:
          type: string
          enum: [PUBLIC, FRIENDS, PRIVATE]

    WalkRecord:
      type: object
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: integer
          format: int64
        petId:
          type: integer
          format: int64
        albumId:
          type: integer
          format: int64
          nullable: true
        title:
          type: string
        distanceM:
          type: integer
        durationSec:
          type: integer
        userCalorie:
          type: integer
        petCalorie:
          type: integer
        startedAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
        visibility:
          type: string
          enum: [PUBLIC, FRIENDS, PRIVATE]

    WalkRecordDetail:
      allOf:
        - $ref: '#/components/schemas/WalkRecord'
        - type: object
          properties:
            routeGeoJson:
              type: object
            spots:
              type: array
              items:
                $ref: '#/components/schemas/WalkSpot'

    CreateWalkRecordRequest:
      type: object
      required: [petId, title, distanceM, durationSec, startedAt, endedAt, visibility]
      properties:
        petId:
          type: integer
        albumId:
          type: integer
          nullable: true
        title:
          type: string
        distanceM:
          type: integer
        durationSec:
          type: integer
        userCalorie:
          type: integer
          nullable: true
        petCalorie:
          type: integer
          nullable: true
        routeGeoJson:
          type: object
        startedAt:
          type: string
          format: date-time
        endedAt:
          type: string
          format: date-time
        visibility:
          type: string
          enum: [PUBLIC, FRIENDS, PRIVATE]

    UpdateWalkRecordRequest:
      type: object
      properties:
        title:
          type: string
        albumId:
          type: integer
          nullable: true
        visibility:
          type: string
          enum: [PUBLIC, FRIENDS, PRIVATE]

    WalkSpot:
      type: object
      properties:
        id:
          type: integer
        walkId:
          type: integer
        latitude:
          type: number
        longitude:
          type: number
        photoUrl:
          type: string
          nullable: true
        memo:
          type: string
          nullable: true
        takenAt:
          type: string
          format: date-time

    CreateWalkSpotRequest:
      type: object
      required: [latitude, longitude]
      properties:
        latitude:
          type: number
        longitude:
          type: number
        photoFileId:
          type: integer
          nullable: true
        memo:
          type: string
          nullable: true
        takenAt:
          type: string
          format: date-time
          nullable: true

    FileAttachment:
      type: object
      properties:
        id:
          type: integer
        fileType:
          type: string
        mimeType:
          type: string
        url:
          type: string
        thumbnailUrl:
          type: string
          nullable: true
        sizeBytes:
          type: integer

    Match:
      type: object
      properties:
        id:
          type: integer
        userId:
          type: integer
        targetUserId:
          type: integer
        status:
          type: string
          enum: [REQUESTED, ACCEPTED, REJECTED]

    UserMatchCandidate:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        petSummary:
          $ref: '#/components/schemas/Pet'
        distanceKm:
          type: number

    ChatRoom:
      type: object
      properties:
        id:
          type: integer
        type:
          type: string
          enum: [SINGLE, GROUP, AI]
        title:
          type: string
          nullable: true
        createdBy:
          type: integer
        createdAt:
          type: string
          format: date-time

    ChatMessage:
      type: object
      properties:
        id:
          type: integer
        chatroomId:
          type: integer
        senderId:
          type: integer
        messageType:
          type: string
          enum: [TEXT, FILE, EMOTICON, SYSTEM]
        content:
          type: string
          nullable: true
        fileAttachmentId:
          type: integer
          nullable: true
        emoticonId:
          type: integer
          nullable: true
        emojiUnicode:
          type: string
          nullable: true
        replyToMessageId:
          type: integer
          nullable: true
        createdAt:
          type: string
          format: date-time

    SendChatMessageRequest:
      type: object
      required: [messageType]
      properties:
        messageType:
          type: string
          enum: [TEXT, FILE, EMOTICON, SYSTEM]
        content:
          type: string
          nullable: true
        fileAttachmentId:
          type: integer
          nullable: true
        emoticonId:
          type: integer
          nullable: true
        emojiUnicode:
          type: string
          nullable: true
        replyToMessageId:
          type: integer
          nullable: true

    CommunityPost:
      type: object
      properties:
        id:
          type: integer
        userId:
          type: integer
        category:
          type: string
        title:
          type: string
        content:
          type: string
        imageUrls:
          type: array
          items:
            type: string
        likeCount:
          type: integer
        viewCount:
          type: integer

    CommunityPostDetail:
      allOf:
        - $ref: '#/components/schemas/CommunityPost'
        - type: object
          properties:
            comments:
              type: array
              items:
                $ref: '#/components/schemas/CommunityComment'

    CreateCommunityPostRequest:
      type: object
      required: [category, title, content]
      properties:
        category:
          type: string
        title:
          type: string
        content:
          type: string
        imageFileIds:
          type: array
          items:
            type: integer

    CommunityComment:
      type: object
      properties:
        id:
          type: integer
        postId:
          type: integer
        userId:
          type: integer
        content:
          type: string
        createdAt:
          type: string
          format: date-time

    GoldTransaction:
      type: object
      properties:
        id:
          type: integer
        type:
          type: string
          enum: [CHARGE, USE]
        amount:
          type: integer
        balanceAfter:
          type: integer
        reason:
          type: string
        createdAt:
          type: string
          format: date-time

    EmoticonPack:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
          nullable: true
        isPremium:
          type: boolean
        priceGold:
          type: integer

    EmoticonPackDetail:
      allOf:
        - $ref: '#/components/schemas/EmoticonPack'
        - type: object
          properties:
            emoticons:
              type: array
              items:
                $ref: '#/components/schemas/Emoticon'

    Emoticon:
      type: object
      properties:
        id:
          type: integer
        packId:
          type: integer
        code:
          type: string
        imageUrl:
          type: string
        isAnimated:
          type: boolean

    Notification:
      type: object
      properties:
        id:
          type: integer
        type:
          type: string
        payload:
          type: object
        read:
          type: boolean
        createdAt:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
